<link href='table.css' rel="stylesheet" type="text/css" />
<h1>登録ユーザー一覧</h1>

<table>
  <tr>
    <th>id</th>
    <th>name_jap</th>
    <th>name_eng</th>
    <th>email</th>
    <th></th>
  </tr>
<% @user.each do |usr| %>
  <tr>
  <% usr.each do |data| %>
    <% if usr[-1] == data %>
      <td>
        <form action='edit' method='get' class='btn'>
          <%= "<button type='submit' name='id' value='#{usr[0]}'>編集</button>" %>
        </form>
      </td>
    <% else %>
      <td><%= data %></td>
    <% end %>
  <% end %>
  </tr>
<% end %>

<form action='sign_up' method='GET' class='btn'>
  <input type='submit' value='新規ユーザー登録'>
</form>
