<link href='table.css' rel="stylesheet" type="text/css" />
<h1>登録ユーザー一覧</h1>

<table>
  <tr>
    <th>id</th>
    <th>name_jap</th>
    <th>name_eng</th>
    <th>email</th>
    <th>admin_flg</th>
  </tr>
<% @user.each do |usr| %>
  <tr>
  <% usr.each do |data| %>
    <td><%= data %></td>
  <% end %>
  </tr>
<% end %>

<form action='logout' method='GET'>
  <input type='submit' value='logout'>
</form>
<form action='logout' method='GET'>
  <input type='submit' value='logout'>
</form>