%h1 UPDATE
%form{:action => '/update', :method => 'post'}
  %fieldset
    %p  
      %label{:for => "id"} ID:
      %input{:name => "id", :type => "text", :value => "0003"}
    %p  
      %label{:for => "name_jap"} 名前:
      %input{:name => "name_jap", :type => "text", :value => "山田花子"}
    %p  
      %label{:for => "name_eng"} Name:
      %input{:name => "name_eng", :type => "text", :value => "YamadaHanako"}
    %p  
      %label{:for => "email"} Email:
      %input{:name => "email", :type => "text", :value => "@mail.com"}
    %p  
      %label{:for => "password"} Password:
      %input{:name => "password", :type => "password", :value => "1234"}
    %p  
      %label{:for => "confirm_password"} Confirm Password:
      %input{:name =>  "confirm_password", :type => "password", :value => "1234"}
    %p  
      %input{:type => "submit", :value => "データ更新"}

%h1 DELETE
%form{:action => '/delete', :method => 'post'}
  %fieldset
    %p  
      %label{:for => "id"} ID:
      %input{:name => "id", :type => "text", :value => "0003"}
      %input{:type => "submit", :value => "データ削除"}
