<h1>login page</h1>
<form action='confirm' method='POST'>
  <p>user id</p>
  <input type='text' name='usr_id'>
  <p>password</p>
  <input type='password' name='usr_pass'><br><br>
  <input type='submit' value='login'>
</form>
