<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title><%= @title%></title>
<style>
  article, aside, dialog, figure, footer, header,
  hgroup, menu, nav, section, form { display: block; }
  #logout_btn {float:right;}
</style>
</head>
<body>
  <%if @title!='login page'%>
  <form action='logout' method='GET' id='logout_btn'>
    <input type='submit' value='ログアウト'>
  </form>
  <%end%>
  <%= yield %>
</body>
</html>